@value --navigation-bar-height from "../App.js";

.game {
    display: inline-block;
    height: calc(100vh - var(--navigation-bar-height));
    width: 100vw;
}

.game img {
    object-fit: cover;
}

.target {
    position: absolute;
    border: 5px solid black;
}