.game {
    display: inline-block;
    overflow: auto;
}

.game .found-characters {
    position: fixed;
    top: 120px;
    left: 20px;
    height: 100px;
    width: 50px;
    background-color: rgba(238, 238, 238, 0.9);
}

.target {
    position: absolute;
    border: 5px solid black;
}