.form-container {
    display: flex;
    position: fixed;
    top: 100px;
    width: 100%;
    transition: background-color 1s linear;
    justify-content: center;
    align-items: start;
    padding-top: clamp(50px, 8vh, 80px);
}

.form-container form {
    position: relative;
    background-color: whitesmoke;
    width: clamp(600px, 45vw, 800px);
    height: 70%;
    max-width: 80%;
    border-radius: 10px;
    grid-template-columns: 2fr 3fr;
    overflow: hidden;
}

.form-container form .score {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form .score .timer {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

.form-container form .score .timer h1 {
    font-size: 82px;
}

.form-container form ul {
    background-color: lightgrey;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.form-container form ul li {
    --spacing: 5px;

    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    position: relative;
}

.form-container form ul li input[type='text'] {
    border: #deddde solid 1px;
    border-radius: 6px;
    height: 30px;
    padding: 0 10px;
}

.form-container form ul li input[type='text']:focus {
    outline: lightgreen 1px solid;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
}

.form-container form ul li input[type='submit'] {
    margin: 0 auto;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}

.form-container form ul li input[type='submit']:hover {
    background-color: darkgray;
}

.form-container form ul li h3 {
    text-align: center;
    font-size: 12px;
}

.form-container form ul li h3 a {
    color: indianred;
    text-decoration: none;
}

.form-container form ul li .submit-message {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    padding-top: calc(var(--spacing) * 2);
    gap: 5px;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    color: green;
    align-items: center;
}

.form-container form ul .submit-message ion-icon {
    font-size: 24px;
}

.form-container form .accent {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-color: indianred;
}