@value --navigation-bar-height from "../App.js";

.navigation {
    height: var(--navigation-bar-height);
    background-color: rgb(238, 238, 238);
    box-shadow: 0 2px 20px -10px black;
    position: fixed;
    z-index: 9999;

    float: left;
    width: 100%;

    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;
}

.navigation * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.navigation img {
    width: 100%;
    max-height: 80px;
    object-fit: contain;
}

.navigation ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.navigation ul a {
    text-decoration: none;
    color: black;
}

.navigation ul li {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
    font-size: 16px;
}

.navigation ul li:hover {
    background-color: pink;
}