.timer {
    box-sizing: border-box;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.95);

    display: flex;
    justify-content: center;
    align-items: center;
}

.timer h1 {
    font-size: 48px;
}

.timer h1 span {
    margin: 0 5px;
}